name = "absen-api"
main = "src/index.ts"
compatibility_date = "2024-02-03"

[[d1_databases]]
binding = "DB"
database_name = "absen-db"
database_id = "3f448513-701b-4c95-abed-64f571564f5e"

[vars]
ENVIRONMENT = "development"
JWT_SECRET = "dev_secret_key_change_in_prod"
